__pycache__/
*.__pycache__
.ipynb_checkpoints
.vscode/
.env
*.pyc
.DS_Store

lid.176.bindata/deprec/
*.safetensors
*.pt
*.pth
*.bin


# ** results **
!data/model/**/*.json
!data/model/**/*.png
!data/model/**/*.jpg

# too large
data/deprec/
*.safetensors
*.pt
*.bin
*.pth

data/external/
data/model/1step/XLM-RoBERTa/xlmr/
data/model/2step/XLM-RoBERTa/xlmr_binary/
data/model/2step/XLM-RoBERTa/xlmr_multi/