# Python >= 3.11

# --- deepl ---
torch>=2.1.2
vllm
transformers
accelerate
bitsandbytes
numpy<2.0

# --- NLP  ---
fasttext-wheel 
huggingface_hub
datasets
wikipedia-api

# --- eval and plotting ---
scikit-learn
seaborn
matplotlib

# --- utils ---
openpyxl
tqdm